extends front
block content
  div#signupPosDown
    div#signupDiv
      form(method="post" action="/signup/check")#signupForm
        p.center First Name:
        input(type="text" name="firstName").center
        br
        p.center Last Name:
        input(type="text" name="lastName").center
        br
        p.center Gender:
        select(name="gender").center
          option(value="Male") Male
          option(value="Female") Female
        br
        p.center Age:
        select(name="age").center
          - for(var i = 14; i < 66; i++){
          option(value="#{i}") #{i}
          - }
        br
        p.center Address:
        input(type="text" name="address").center
        br
        p.center Postalcode:
        input(type="text" name="postCode").center
        p.center City:
        input(type="text" name="city").center
        br
        p.center Username:
        input(type="text" name="username").center
        br
        p.center Password:
        input(type="password" name="password1").center
        br
        p.center Enter password again:
        input(type="password" name="password2").center
        br
        p.center Email:
        input(type="text" name="email").center
        br
        input(type="submit" name="submit").center
