html body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: lightgray;
}
.noSpaces{
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
  color: black;
  cursor: pointer;
}
#mainBox{
  width: 1200px;
  height: 1000px;
  margin: 0 auto;
  background-color: white;
}
#contentLeft{
  position: absolute;
  margin: 30px 0 0 50px;
  width: 500px;
  height: 700px;
}
#contentTopRight{
  position: absolute;
  margin: 30px 0 0 600px;
  width: 500px;
  height: 700px;
}
.contentBox{

}
.contentHeader{
  text-align: center;

}
.contentText{
  margin: 0 20px 0 20px;
  font-size: 16px;
}
