#showSomething{
  position: absolute;
  margin: 100px 0 0 100px;
  width: 500px;
  height: 700px;
  background-color: purple;
}
#removeGroup{
  position: absolute;
  width: 100px;
  height: 50px;
  background-color: red;
  margin: 20px 0 0 1080px;
}
#removeTeam{
  position: absolute;
  width: 100px;
  height: 50px;
  background-color: red;
  margin: 20px 0 0 1080px;
}
#removeUser{
  position: absolute;
  width: 100px;
  height: 50px;
  background-color: red;
  margin: 20px 0 0 1080px;
}
