extends logged
block content
  div#calendar1
    table#calendar2
      tr#calendarRow
        td.calendarDay1 Monday
        td.calendarDay1 Tuesday
        td.calendarDay1 Wednesday
        td.calendarDay1 Thursday
        td.calendarDay1 Friday
        td.calendarDay1 Saturday
        td.calendarDay1 Sunday
      tr
      - var row = 1;
      -for(let i = 0; i <)
