#headerDiv{
  width: 100%;
  height: 200px;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  background-color: red;
}
#centerHeadContent{
  width: 1200px;
  height: 100%;
  margin: 0 auto;
  margin-top: 0;
  padding: 0;
}
#headerTitle{
  position: absolute;
  margin: 20px 0 0 20px;
  width: 600px;
  height: 100px;
  text-align: center;
  font-size: 17px;
}
#headerButtons{
  position: absolute;
  list-style-type: none;
  width: 410px;
  height: 50px;
  margin: 30px 0 0 730px;
}
.headerButtonsLi{
  float: left;
  background-color: gray;
}
#headerLogin{
  border: none;
  width: 200px;
  height: 50px;
  font-size: 20px;
  margin-right: 5px;
}
#headerMenu{
  position: absolute;
  width: 60px;
  height: 50px;
  margin: 120px 0 0 1100px;
  border: none;
}
#headerAddGroup{
  position: absolute;
  width: 100px;
  height: 50px;
  margin: 120px 0 0 1100px;
  border: none;
}
#logout{
  position: absolute;
  width: 100px;
  height: 50px;
  margin: 120px 0 0 1000px;
  border: none;
}
#headerCalendar{
  position: absolute;
  width: 100px;
  height: 50px;
  margin: 120px 0 0 900px;
  border: none;
}
#headerAddTeam{
  position: absolute;
  width: 100px;
  height: 50px;
  margin: 120px 0 0 800px;
  border: none;
}
.gray{
  background-color: gray;
}
